input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  flex: 2;
  background-color: #444;
  color: #eee;
  font-size: 16px;
  margin-top: 10px;
}

button {
  background-color: chartreuse;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  margin: 20px 0;
}

button:hover {
  background-color: #444;
  color: chartreuse;
}

section {
  margin: 10px 0;
}

article p {
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}

footer table {
  margin: 0 auto;
}
